[init]
    defaultBranch = main
[core]
    editor = nvim
[pull]
    rebase = true
[fetch]
    prune = true
[rerere]
    enabled = true
[rebase]
    autoStash = true
[merge]
    conflictStyle = zdiff3
[diff]
    algorithm = histogram
[commit]
    verbose = true
[include]
    path = ~/.gitconfig.local
